
html, body{
    display: flex;
    
    flex-direction: row;
    
    background-color: white;
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    font-size: 1em;
    
    box-sizing: border;
}    
.dot_1{
    
    
    background-color: black;
    
    height: 3em;
    width: 3em;
    
    
}
.dot_2{
    
    background-color: black;
    
    height: 3em;
    width: 3em;
}
.dot_3{
    justify-content: center;
    
    display: flex;
    
    content:'';
    
    background-color: black;
    
    height: 3em;
    width: 3em;
}

/*<!-----------------------LEFT COLUMN---------------------->*/
#left{
    display: flex;
    
    flex-direction: column;
    
    background-color: purple;
    
    width: calc(100%/3);
    height: 100%;
}
.box{
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
    
    align-self: center;
    
    background-color: red;
    
    margin: 2rem;
    
    width: 50%;
    height: 50%;

    
    border:5px solid black;
    
    text-align: center;
    
    line-height: 3rem;
}

.box [dot='one']{
    content:'';
    
    width: 1em;
    height: 1em;
    
    color: black;
    
    border-radius: 1em;
    
}

#left_left{
    display: flex;
    
    justify-content: flex-start;
    align-items: flex-start;
}

#left_mid{
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
}
#left_right{
    display: flex;
    
    justify-content: flex-end;
    align-items: flex-start;
}
/*<!-----------------------MIDDLE COLUMN---------------------->*/


#middle{
    display: flex;
    
    flex-direction: column;
    
    background-color: green;
    
    width: calc(100%/3);
    height: 100%;
    
    
}
.box_2{
    
    
    background-color: red;
    
    margin: 2rem;
    
    width: 50%;
    height: 50%;

    
    border:5px solid black;
    
    text-align: center;
    
    line-height: 3rem;
    
}

#mid_left{
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
}

#mid_mid{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
#mid_right{
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
}

.dot_3{
  
}

/*<!-----------------------RIGHT COLUMN---------------------->*/
#right{
    display: flex;
    
    flex-direction: column;
    
    background-color: yellow;
    width: calc(100%/3);
    height: 100%;
}
.box_3{
    display: flex;
    
    justify-content: flex-end;
    align-items: flex-end;
    
    background-color: red;
    
    margin: 2rem;
    
    width: 50%;
    height: 50%;

    
    border:5px solid black;
    
    text-align: center;
    
    line-height: 3rem;
}

#right_left{
    display: flex;
    
    justify-content: flex-start;
    align-items: flex-end;
}

#right_mid{
    display: flex;
    
    justify-content: center;
    align-items: flex-end;
}
:;_right{
    display: flex;
    
    justify-content: flex-end;
    align-items: flex-end;
}